:root {
  --primary: #ffcc00;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.container.layout {
  width: 1024px;
}

html {
  font-family: "Fira Sans";
}

html.homepage {
  background-color: #f4f5f7;
}

p {
  font-family: "Bitter";
}
