.bubble {
  position: relative;
}

.bubble::after {
  content: " ";
  background-color: #ffffff;
  display: block;
  border-bottom-left-radius: 200%;
  border-bottom-right-radius: 200%;
  width: 120%;
  left: -10%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: calc(100% + 60px);
  box-sizing: border-box;
  top: 0;
}

@media screen and (max-width: 768px) {
  .bubble::after {
    width: 200%;
    left: -50%;
  }
}
